<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<th:block layout:fragment="css">
    <style>
        #container {
            width: 50%;
            margin: 0 auto;
        }
    </style>
</th:block>

<div layout:fragment="content" id="container">
    <h2 class="mb-4" style="margin-top: 50px" th:text="${name} + '님의 회원정보'">회원 정보</h2>
    <table class="table table-hover">
        <tbody th:each="member : ${details}">
        <tr>
            <th scope="row">회원이름</th>
            <td th:text="${member.name}"></td>
        </tr>
        <tr>
            <th scope="row">이메일</th>
            <td th:text="${member.email}"></td>
        </tr>
        <tr>
            <th scope="row">전화번호</th>
            <td th:text="${member.phone}"></td>
        </tr>
        <tr>
            <th scope="row">주소</th>
            <td th:text="${member.street} + ', ' + ${member.city} + ', ' + ${member.zipcode}"></td>
        </tr>
        <tr>
            <th scope="row">가입일</th>
            <td th:text="${#temporals.format(member.createdDate, 'yyyy-MM-dd HH:mm:ss')}">n.d</td>
        </tr>
        </tbody>
    </table>
    <a role="button" class="btn btn-primary" th:href="'/member/update/' + ${id}">수정하기</a>
</div>
</html>