<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div>
    <table>
        <tr>
            <th>NAME</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>STATUS</th>
        </tr>
        <tr th:each="item : ${list}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.itemSellStatus}"></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: footer" />
</body>
</html>